<main>
  <h1>Welcome Esteemed learner</h1>
  <div class="course-cat">
    <h3>Here are available categories of courses</h3>
    <ul>
      <li [routerLink]="['business']" routerLinkActive="active">Business</li>
      <li [routerLink]="['photo']" routerLinkActive="active">Photography</li>
      <li [routerLink]="['design']" routerLinkActive="active">Design</li>
      <li [routerLink]="['software']" routerLinkActive="active">
        IT & Software
      </li>
      <li [routerLink]="['development']" routerLinkActive="active">
        Development
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>

  <h2>Fill form below to register</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name<span>*</span></label>
      <input
        type="text"
        name="name"
        [(ngModel)]="userSetting.name"
        required
        #nameField="ngModel"
        [class.field-error] = 'form.submitted && nameField.invalid'
      />
      <p [hidden]="!form.submitted || nameField.valid">Enter a name</p>
    </div>
    <div class="form-group">
      <label for="name">Email<span>*</span></label>
      <input
        type="email"
        name="email"
        [(ngModel)]="userSetting.email"
        required
        #emailField="ngModel"
        [class.field-error] = 'form.submitted && emailField.invalid'
      />
      <p [hidden]="!form.submitted || emailField.valid">
        Enter a valid email
      </p>
    </div>
    <div class="form-group">
      <label for="name">Course Url<span>*</span></label>
      <input
        type="url"
        name="courseUrl"
        [(ngModel)]="userSetting.url"
        required
        #courseField="ngModel"
        [class.field-error] = 'form.submitted && courseField.invalid'
      />
      <p [hidden]="!form.submitted || courseField.valid">
        Enter course url
      </p>
    </div>

    <input type="submit" value="Submit" />
  </form>
 
  <p [hidden]="!formValid">Your data has been submitted</p>
</main>
